Header Packages

In [1]:
import pandas as pd
import numpy as np

Load Dataset

In [2]:
data1 = pd.read_csv('/home/sitrc/Desktop/T400610320/a/data.csv')

print(data1.head())

   Age        BMI  Glucose  Insulin      HOMA   Leptin  Adiponectin  Resistin  \
0   48  23.500000       70    2.707  0.467409   8.8071     9.702400   7.99585
1   83  20.690495       92    3.115  0.706897   8.8438     5.429285   4.06405
2   82  23.124670       91    4.498  1.009651  17.9393    22.432040   9.27715
3   68  21.367521       77    3.226  0.612725   9.8827     7.169560  12.76600
4   86  21.111111       92    3.549  0.805386   6.6994     4.819240  10.57635

     MCP.1 Classification
0  417.114              1
1  468.786              1
2  554.697              1
3  928.220              1
4  773.920              1

First Five entries

In [3]:
data1.head()

,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1,Classification
0,48,23.500000,70,2.707,0.467409,8.8071,9.702400,7.99585,417.114,1
1,83,20.690495,92,3.115,0.706897,8.8438,5.429285,4.06405,468.786,1
2,82,23.124670,91,4.498,1.009651,17.9393,22.432040,9.27715,554.697,1
3,68,21.367521,77,3.226,0.612725,9.8827,7.169560,12.76600,928.220,1
4,86,21.111111,92,3.549,0.805386,6.6994,4.819240,10.57635,773.920,1

Last Five Entries

In [4]:
data1.tail()

,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1,Classification
94,60,31.231410,131,30.130,9.736007,37.8430,8.40443,11.50005,396.021,2
95,49,29.777778,70,8.396,1.449709,51.3387,10.73174,20.76801,602.486,2
96,44,27.887617,99,9.208,2.248594,12.6757,5.47817,23.03306,407.206,2
97,40,27.636054,103,2.432,0.617890,14.3224,6.78387,26.01360,293.123,2
98,71,27.915519,104,18.200,4.668907,53.4997,1.65602,49.24184,256.001,2

Load the Dataset into a Pandas DataFrame

In [5]:

missing_values = data1.isnull().sum()
print("Missing Values:\n", missing_values)

Missing Values:
 Age               0
BMI               3
Glucose           0
Insulin           0
HOMA              0
Leptin            0
Adiponectin       0
Resistin          0
MCP.1             0
Classification    0
dtype: int64

Data Preprocessing

Check for Missing Values

In [6]:
missing_values = data1.isnull().sum()
print("Missing Values:\n", missing_values)

Missing Values:
 Age               0
BMI               3
Glucose           0
Insulin           0
HOMA              0
Leptin            0
Adiponectin       0
Resistin          0
MCP.1             0
Classification    0
dtype: int64

Describe the Dataset

In [7]:
print(data1.describe())

             Age        BMI     Glucose    Insulin       HOMA     Leptin  \
count  99.000000  96.000000   99.000000  99.000000  99.000000  99.000000
mean   56.090909  26.817354   96.535354  10.399808   2.797275  24.617311
std    16.508557   4.886428   22.562075  10.712925   3.890100  17.542245
min    24.000000  18.370000   60.000000   2.432000   0.467409   4.311000
25%    44.000000  22.689062   85.000000   4.336500   0.898747  10.735800
50%    52.000000  26.669715   92.000000   5.819000   1.341324  18.160000
75%    69.000000  30.810069  101.500000  12.233500   2.940886  34.085000
max    89.000000  37.035608  201.000000  58.460000  25.050342  83.482100

       Adiponectin   Resistin        MCP.1
count    99.000000  99.000000    99.000000
mean     10.077993  15.401122   565.743545
std       6.602191  13.132669   356.784055
min       1.656020   3.210000    45.843000
25%       5.482135   6.885000   306.605000
50%       8.300955  11.500050   513.660000
75%      11.407612  20.100185   735.734500
max      38.040000  82.100000  1698.440000

Check Dimensions

In [8]:
print("Dataset Dimensions:", data1.shape)

Dataset Dimensions: (99, 10)

Data Formatting and Normalization

Summarize Variable Types

In [9]:
print(data1.dtypes)

Age                 int64
BMI               float64
Glucose             int64
Insulin           float64
HOMA              float64
Leptin            float64
Adiponectin       float64
Resistin          float64
MCP.1             float64
Classification     object
dtype: object

Convert Incorrect Data Types

In [10]:
data1['BMI'] = data1['BMI'].astype('category')

Normalize Numeric Data

Turn Categorical Variables into Quantitative Variables

In [16]:
from sklearn.preprocessing import StandardScaler

data = {
    'Age': [0.5, 0.6, 0.7],
    'BMI': [22.5, 23.5, 24.0],
    'Glucose': [90, 95, 85],
    'Insulin': [10.5, 12.5, 11.0],
    'HOMA': [1.5, 1.8, 1.7],
    'Leptin': [8.5, 9.5, 8.0],
    'Adiponectin': [12.5, 13.0, 11.5],
    'Resistin': [3.5, 4.0, 3.0],
    'MCP.1': [200, 180, 210],
    'Classification': ['Type1', 'Type2', 'Type1']
}
df = pd.DataFrame(data)
df['Classification'] = df['Classification'].map({'Type1': 0, 'Type2': 1})

print(df)

   Age   BMI  Glucose  Insulin  HOMA  Leptin  Adiponectin  Resistin  MCP.1  \
0  0.5  22.5       90     10.5   1.5     8.5         12.5       3.5    200
1  0.6  23.5       95     12.5   1.8     9.5         13.0       4.0    180
2  0.7  24.0       85     11.0   1.7     8.0         11.5       3.0    210

   Classification
0               0
1               1
2               0

In [ ]:
Normalize Numeric Data

In [17]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
numeric_columns = ['Age', 'BMI', 'HOMA']
data1[numeric_columns] = scaler.fit_transform(data1[numeric_columns])

print(data1.head())

        Age       BMI  Glucose  Insulin      HOMA   Leptin  Adiponectin  \
0 -0.492598 -0.682455       70    2.707 -0.601970   8.8071     9.702400
1  1.638304 -1.260434       92    3.115 -0.540093   8.8438     5.429285
2  1.577421 -0.759669       91    4.498 -0.461870  17.9393    22.432040
3  0.725060 -1.121155       77    3.226 -0.564424   9.8827     7.169560
4  1.820953 -1.173904       92    3.549 -0.514646   6.6994     4.819240

   Resistin    MCP.1 Classification
0   7.99585  417.114              1
1   4.06405  468.786              1
2   9.27715  554.697              1
3  12.76600  928.220              1
4  10.57635  773.920              1